@import "tailwindcss";

:root {
  --cor-primaria: oklch(62.7% 0.194 149.214);
  --cor-secundaria: oklch(52.935% 0.15121 148.528);
  --cor-terciaria: oklch(96.168% 0.05855 157.296);
  --cor-fundo-primaria: #F9F7F3;
  --cor-fundo-secundaria: #F1EEE7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}