@import "tailwindcss";

:root {
  --cor-primaria: oklch(62.7% 0.194 149.214);
  --cor-secundaria: oklch(52.7% 0.154 150.069);
  --cor-terciaria: oklch(96.2% 0.044 156.743);
  --cor-fundo-primaria: #fcffea;
  --cor-fundo-secundaria: #f9faf7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}