@import "tailwindcss";

:root {
  --cor-primaria: rgb(78, 151, 209);
  --cor-secundaria: rgb(0, 109, 178);
  --cor-fundo-primaria: rgb(249, 247, 243);
  --cor-fundo-secundaria: rgb(238, 233, 224);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}