.wrapper {
  position: relative;
  z-index: 20;
}

.button {
  background: white;
  color: var(--cor-primaria);
  padding: 0.5rem 1.25rem;
  border-radius: 999px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease;
}
.button:hover {
  background: #d1d5dc;
}
.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  min-width: 100px;
  padding: 0.5rem;
  animation: fadeIn 0.25s ease-out;
}

.iconAluno {
  width: 22px;
  height: 22px;
}

.iconInstrutor {
  width: 26px;
  height: 26px;
}

.itemContainer {    
  display: flex;
  align-items: center;
  gap: 0.75rem;               
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  color: black;
  font-weight: 500;
  transition: background 0.3s ease;
  min-width: 10rem;
}

.itemContainer:hover {
  background: #d1d5dc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
